<center><h1 style="color:#D4AF37"> ‚ö°‚ö° AEMR Data Analysis ‚ö°‚ö°</h1>

<img src = "https://images.squarespace-cdn.com/content/v1/551972d8e4b0d571edc2e2c8/8f3abd33-0916-4415-9b24-593eea1d1e3c/Screen+Shot+2022-04-20+at+12.41.24+PM.png">

  
In this excercise I will use SQL to analyze data for the American Energy Market Regulator (AEMR).

Springboard.com has supplied the following table extract that contains all the data needed to analyse for the `AEMR` outages. 

<li> AEMR_Outage_Table </li> 
    
Let's check out the business problem below and understand what we're seeking to solve.

<h1 style="color:#D4AF37"> What's the Business Problem? üí∞</h1>

The American Energy Market Regulator (AEMR) is responsible for looking after the
United States of America‚Äôs domestic energy network. The regulator‚Äôs responsibility is to
ensure that America‚Äôs energy network remains reliable with minimal disruptions, which
are known as outages. 

There are four key types of outages:

‚óè Consequential

‚óè Forced 

‚óè Opportunistic 

‚óè Planned 

Recently, the AEMR management team has been increasingly aware of a large number
of energy providers that submitted outages over the 2016 and 2017 calendar years. The
management team has expressed a desire to have the following two areas of concern
addressed:

<b> A) Energy Stability and Market Outages
    <p>
B) Energy Losses and Market Reliability </b>

In [7]:
#importing library and accessing the database
%%capture
!pip install ipython-sql sqlalchemy
import sqlalchemy
sqlalchemy.create_engine("sqlite:///AEMR.db")
%load_ext sql
%sql sqlite:///AEMR.db

In [8]:
#allowing custom highlighting in the code
%%js
require(['notebook/js/codecell'], function (codecell) {
    codecell.CodeCell.options_default.highlight_modes['magic_text/x-mssql'] = { 'reg': [/%?%sql/] };
    Jupyter.notebook.events.one('kernel_ready.Kernel', function () {
        Jupyter.notebook.get_cells().map(function (cell) {
            if (cell.cell_type == 'code') { cell.auto_highlight(); }
        });
    });
});

<h3 style="color:#D4AF37"> ‚ö° Part I. Energy Stability & Market Outages ‚ö° </h3>

Energy stability is one of the key themes the AEMR management team cares about. To ensure energy security and reliability, AEMR needs to understand the following:
<p>
<b>

<li> What are the most common outage types and how long do they tend to last? 
<li> How frequently do the outages occur? 
<li> Are there any energy providers which have more outages than their peers which may be indicative of being unreliable? 
    
<p>

<u style="color:Maroon"> Please note that throughout the entire case study, we are interested ONLY in the Outages where Status = Approved. We don't have any interest in Outages that were cancelled or not approved.</u>

<b> SQL Statement to count the number of valid (i.e. `Status = Approved`) Outage Events sorted by their respective `Outage_Reason` (i.e. `Forced`, `Consequential`, `Scheduled`, `Opportunistic`) over the 2016 & 2017 Periods. </b>

In [14]:
%%sql
SELECT
COUNT(*) AS Total_Number_Outages,
Outage_Reason,
Year
FROM
AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Outage_Reason, Year
LIMIT 10

 * sqlite:///AEMR.db
Done.

[(181, 'Consequential', 2016),
 (127, 'Consequential', 2017),
 (1264, 'Forced', 2016),
 (1622, 'Forced', 2017),
 (106, 'Opportunistic Maintenance (Planned)', 2016),
 (102, 'Opportunistic Maintenance (Planned)', 2017),
 (380, 'Scheduled (Planned)', 2016),
 (320, 'Scheduled (Planned)', 2017)]

From 2016 to 2017 we see a decrease in Consequential, Opportunistic, and Scheduled outages. However we see an increase in Forced outages.

<b>SQL Statement showing the `Total` of all Outage Types (Forced, Consequential, Scheduled, Opportunistic) where the `Status = Approved`, that occurred for both 2016 and 2017, grouped by `Year` and `Month`.  per month (i.e. 1 ‚Äì 12). Ordered by `Year`, `Month`, `Total_Number_Outages` in Descending Order, and grouped by `Outage Type`, `Year` and `Month`. This is so we can identify whether there is any outage type specifically increasing on a monthly basis when comparing 2016 to 2017. </b>

In [98]:
%%sql
SELECT
Outage_Reason,
Year,
Month,
COUNT(*) AS Total_Number_Outages
FROM
AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Outage_Reason, Year, Month
ORDER BY Outage_Reason, Year, Month, Total_Number_Outages DESC

 * sqlite:///AEMR.db
Done.

[('Consequential', 2016, 1, 24),
 ('Consequential', 2016, 2, 23),
 ('Consequential', 2016, 3, 7),
 ('Consequential', 2016, 5, 36),
 ('Consequential', 2016, 6, 12),
 ('Consequential', 2016, 7, 23),
 ('Consequential', 2016, 8, 6),
 ('Consequential', 2016, 9, 1),
 ('Consequential', 2016, 10, 15),
 ('Consequential', 2016, 11, 25),
 ('Consequential', 2016, 12, 9),
 ('Consequential', 2017, 1, 12),
 ('Consequential', 2017, 2, 27),
 ('Consequential', 2017, 3, 19),
 ('Consequential', 2017, 4, 12),
 ('Consequential', 2017, 5, 5),
 ('Consequential', 2017, 6, 8),
 ('Consequential', 2017, 7, 1),
 ('Consequential', 2017, 8, 2),
 ('Consequential', 2017, 9, 10),
 ('Consequential', 2017, 10, 11),
 ('Consequential', 2017, 11, 9),
 ('Consequential', 2017, 12, 11),
 ('Forced', 2016, 1, 134),
 ('Forced', 2016, 2, 149),
 ('Forced', 2016, 3, 94),
 ('Forced', 2016, 4, 86),
 ('Forced', 2016, 5, 101),
 ('Forced', 2016, 6, 112),
 ('Forced', 2016, 7, 80),
 ('Forced', 2016, 8, 152),
 ('Forced', 2016, 9, 96),
 ('Forced', 2016, 10, 67),
 ('Forced', 2016, 11, 127),
 ('Forced', 2016, 12, 66),
 ('Forced', 2017, 1, 70),
 ('Forced', 2017, 2, 97),
 ('Forced', 2017, 3, 53),
 ('Forced', 2017, 4, 73),
 ('Forced', 2017, 5, 105),
 ('Forced', 2017, 6, 172),
 ('Forced', 2017, 7, 182),
 ('Forced', 2017, 8, 170),
 ('Forced', 2017, 9, 137),
 ('Forced', 2017, 10, 207),
 ('Forced', 2017, 11, 145),
 ('Forced', 2017, 12, 211),
 ('Opportunistic Maintenance (Planned)', 2016, 1, 9),
 ('Opportunistic Maintenance (Planned)', 2016, 2, 12),
 ('Opportunistic Maintenance (Planned)', 2016, 3, 14),
 ('Opportunistic Maintenance (Planned)', 2016, 4, 3),
 ('Opportunistic Maintenance (Planned)', 2016, 5, 4),
 ('Opportunistic Maintenance (Planned)', 2016, 6, 14),
 ('Opportunistic Maintenance (Planned)', 2016, 7, 13),
 ('Opportunistic Maintenance (Planned)', 2016, 8, 7),
 ('Opportunistic Maintenance (Planned)', 2016, 9, 11),
 ('Opportunistic Maintenance (Planned)', 2016, 10, 5),
 ('Opportunistic Maintenance (Planned)', 2016, 11, 7),
 ('Opportunistic Maintenance (Planned)', 2016, 12, 7),
 ('Opportunistic Maintenance (Planned)', 2017, 1, 9),
 ('Opportunistic Maintenance (Planned)', 2017, 2, 6),
 ('Opportunistic Maintenance (Planned)', 2017, 3, 7),
 ('Opportunistic Maintenance (Planned)', 2017, 4, 8),
 ('Opportunistic Maintenance (Planned)', 2017, 5, 9),
 ('Opportunistic Maintenance (Planned)', 2017, 6, 7),
 ('Opportunistic Maintenance (Planned)', 2017, 7, 5),
 ('Opportunistic Maintenance (Planned)', 2017, 8, 14),
 ('Opportunistic Maintenance (Planned)', 2017, 9, 7),
 ('Opportunistic Maintenance (Planned)', 2017, 10, 8),
 ('Opportunistic Maintenance (Planned)', 2017, 11, 16),
 ('Opportunistic Maintenance (Planned)', 2017, 12, 6),
 ('Scheduled (Planned)', 2016, 1, 24),
 ('Scheduled (Planned)', 2016, 2, 43),
 ('Scheduled (Planned)', 2016, 3, 21),
 ('Scheduled (Planned)', 2016, 4, 45),
 ('Scheduled (Planned)', 2016, 5, 33),
 ('Scheduled (Planned)', 2016, 6, 30),
 ('Scheduled (Planned)', 2016, 7, 31),
 ('Scheduled (Planned)', 2016, 8, 29),
 ('Scheduled (Planned)', 2016, 9, 16),
 ('Scheduled (Planned)', 2016, 10, 37),
 ('Scheduled (Planned)', 2016, 11, 41),
 ('Scheduled (Planned)', 2016, 12, 30),
 ('Scheduled (Planned)', 2017, 1, 12),
 ('Scheduled (Planned)', 2017, 2, 20),
 ('Scheduled (Planned)', 2017, 3, 30),
 ('Scheduled (Planned)', 2017, 4, 34),
 ('Scheduled (Planned)', 2017, 5, 47),
 ('Scheduled (Planned)', 2017, 6, 17),
 ('Scheduled (Planned)', 2017, 7, 22),
 ('Scheduled (Planned)', 2017, 8, 23),
 ('Scheduled (Planned)', 2017, 9, 18),
 ('Scheduled (Planned)', 2017, 10, 50),
 ('Scheduled (Planned)', 2017, 11, 27),
 ('Scheduled (Planned)', 2017, 12, 20)]

It appears that Forced outages increase monthly from early 2017 onward.

However, frequency is just one aspect we care about. We also care about the <b> `duration` </b> of our ouatges.

In other words, if an outage is very short, we aren't as concerned. However, if the outage is very long, this then has the risk of threatening our energy supplies. We want to identify the problematic energy providers here.

<b>SQL statement that calculates 1) The `Total_Number_Outage_Events` and 2) The <b> `Average Duration`</b> in <u>DAYS</u> for each `Participant Code` and `Outage Type` over the 2016 and 2017 Period where the `Status = Approved`, Ordered by `Total_Number_Outage_Events` in Descending Order, `Reason` and `Year`.

In [26]:
%%sql
SELECT
Participant_Code,
Outage_Reason,
Year,
COUNT(*) AS Total_Number_Outage_Events,
ROUND(AVG((ABS(JULIANDAY(End_Time) - JULIANDAY(Start_Time)))), 2) AS Average_Outage_Duration_In_Days
FROM 
AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Participant_Code, Outage_Reason, Year
ORDER BY Total_Number_Outage_Events DESC, Outage_Reason, Year
LIMIT 5

 * sqlite:///AEMR.db
Done.

[('AURICON', 'Forced', 2017, 490, 0.07),
 ('GW', 'Forced', 2016, 317, 0.38),
 ('GW', 'Forced', 2017, 227, 1.06),
 ('AURICON', 'Forced', 2016, 208, 0.07),
 ('AUXC', 'Forced', 2016, 206, 0.08)]

We've identified AURICON and GW as two suppliers who are having many outages, as well as participants who have been offline for the longest durations.

Armed with this information, it's important we're able to classify our participants accordingly based on reliability metrics of uptime.

We classify a participant based off the following criteria:
<b>
<li> High Risk - On average, the participant is unavailable for > 24 Hours (1 Day)</li>
<li> Medium Risk - On average, the participant is unavailable between 12 and 24 Hours </li>
<li> Low Risk - On average, the participant is unavailable for less than 12 Hours</li> 
</b>

<b>SQL Statement that <u> classifies each participant code as either `High Risk`, `Medium Risk` or `Low Risk` in a column called `Risk_Classification`</u> that is based off their Average Outage Duration Time, Ordered by `Average Duration Time In Days` in descending order.

In [32]:
%%sql
WITH Outages_Risk AS (
SELECT
Participant_Code,
Outage_Reason,
Year,
COUNT(*) AS Total_Number_Outage_Events,
ROUND(AVG((ABS(JULIANDAY(End_Time) - JULIANDAY(Start_Time)))), 2) AS Average_Outage_Duration_In_Days
FROM 
AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Participant_Code, Outage_Reason, Year
ORDER BY Average_Outage_Duration_In_Days DESC)

SELECT 
*,
CASE
	WHEN Average_Outage_Duration_In_Days > 1 THEN 'High_Risk'
	WHEN Average_Outage_Duration_In_Days BETWEEN 0.5 AND 1 THEN 'Medium_Risk'
	ELSE 'Low_Risk'
END AS Risk_Classification
FROM Outages_Risk
LIMIT 10

 * sqlite:///AEMR.db
Done.

[('WGUTD', 'Scheduled (Planned)', 2017, 1, 10.58, 'High_Risk'),
 ('KORL', 'Scheduled (Planned)', 2016, 20, 6.96, 'High_Risk'),
 ('MELK', 'Scheduled (Planned)', 2017, 70, 6.89, 'High_Risk'),
 ('COLLGAR', 'Scheduled (Planned)', 2017, 9, 6.36, 'High_Risk'),
 ('EUCT', 'Forced', 2016, 11, 5.9, 'High_Risk'),
 ('ENRG', 'Scheduled (Planned)', 2017, 37, 4.96, 'High_Risk'),
 ('ENRG', 'Scheduled (Planned)', 2016, 29, 4.85, 'High_Risk'),
 ('MELK', 'Scheduled (Planned)', 2016, 85, 4.61, 'High_Risk'),
 ('GW', 'Scheduled (Planned)', 2016, 45, 4.43, 'High_Risk'),
 ('COLLGAR', 'Scheduled (Planned)', 2016, 12, 4.28, 'High_Risk')]

Now that we've classified our participants as either `High Risk`, `Medium Risk` or `Low Risk`, we want to dig a little deeper. Perhaps we should refine our category accordingly by ensuring we focus our Risk Category on labelling only `Forced` Outages as being a Risk. Considering Forced Outages are the unplanned outages that risk the security of the electricity grid.

We'll add two additional criteria to our classification considering `Total Number of Outage Events` and `Outage Type`.

<b>
<li> High Risk - On average, the participant is unavailable for > 24 Hours (1 Day) OR the Total Number of Outage Events > 20 </li>
<li> Medium Risk - On average, the participant is unavailable between 12 and 24 Hours OR the Total Number of Outage Events is Between 10 and 20 </li>
<li> Low Risk - On average, the participant is unavailable for less than 12 Hours OR the Total Number of Outage Events < 10 </li> 
<li> If Outage Type is not forced, then N/A
</b>

<b>SQL Statement that <u> classifies each participant code as either `High Risk`, `Medium Risk` or `Low Risk` in a column called `Risk_Classification`</u> using the new classification criteria, Ordered by `Average Duration Time In Days` in descending order.

In [38]:
%%sql
WITH Outages_Risk AS (
SELECT
Participant_Code,
Outage_Reason,
Year,
COUNT(*) AS Total_Number_Outage_Events,
ROUND(AVG((ABS(JULIANDAY(End_Time) - JULIANDAY(Start_Time)))), 2) AS Average_Outage_Duration_In_Days
FROM 
AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Participant_Code, Outage_Reason, Year
ORDER BY Average_Outage_Duration_In_Days DESC)

SELECT 
*,
CASE
	WHEN Average_Outage_Duration_In_Days > 1 AND Outage_Reason = 'Forced' OR Total_Number_Outage_Events > 20 AND Outage_Reason = 'Forced' THEN 'High_Risk'
	WHEN Average_Outage_Duration_In_Days BETWEEN 0.5 AND 1 AND Outage_Reason = 'Forced' OR Total_Number_Outage_Events BETWEEN 10 AND 20 AND Outage_Reason = 'Forced' THEN 'Medium_Risk'
	WHEN Average_Outage_Duration_In_Days < 0.5 AND Outage_Reason = 'Forced' OR Total_Number_Outage_Events < 10 AND Outage_Reason = 'Forced' THEN 'Low_Risk'
    ELSE 'N/A'
END AS Risk_Classification
FROM Outages_Risk
LIMIT 30

 * sqlite:///AEMR.db
Done.

[('WGUTD', 'Scheduled (Planned)', 2017, 1, 10.58, 'N/A'),
 ('KORL', 'Scheduled (Planned)', 2016, 20, 6.96, 'N/A'),
 ('MELK', 'Scheduled (Planned)', 2017, 70, 6.89, 'N/A'),
 ('COLLGAR', 'Scheduled (Planned)', 2017, 9, 6.36, 'N/A'),
 ('EUCT', 'Forced', 2016, 11, 5.9, 'High_Risk'),
 ('ENRG', 'Scheduled (Planned)', 2017, 37, 4.96, 'N/A'),
 ('ENRG', 'Scheduled (Planned)', 2016, 29, 4.85, 'N/A'),
 ('MELK', 'Scheduled (Planned)', 2016, 85, 4.61, 'N/A'),
 ('GW', 'Scheduled (Planned)', 2016, 45, 4.43, 'N/A'),
 ('COLLGAR', 'Scheduled (Planned)', 2016, 12, 4.28, 'N/A'),
 ('MUND', 'Scheduled (Planned)', 2016, 18, 3.53, 'N/A'),
 ('PMC', 'Consequential', 2017, 8, 3.52, 'N/A'),
 ('WGUTD', 'Forced', 2017, 8, 3.44, 'High_Risk'),
 ('KORL', 'Scheduled (Planned)', 2017, 16, 3.38, 'N/A'),
 ('AUXC', 'Scheduled (Planned)', 2017, 1, 2.88, 'N/A'),
 ('GW', 'Scheduled (Planned)', 2017, 26, 2.65, 'N/A'),
 ('PJRH', 'Scheduled (Planned)', 2017, 35, 2.61, 'N/A'),
 ('PJRH', 'Scheduled (Planned)', 2016, 38, 2.37, 'N/A'),
 ('TRMOS', 'Scheduled (Planned)', 2017, 4, 2.31, 'N/A'),
 ('MELK', 'Forced', 2017, 177, 2.28, 'High_Risk'),
 ('PUG', 'Scheduled (Planned)', 2017, 11, 2.25, 'N/A'),
 ('ENRG', 'Forced', 2016, 21, 2.24, 'High_Risk'),
 ('KORL', 'Consequential', 2017, 6, 2.24, 'N/A'),
 ('WGUTD', 'Consequential', 2016, 6, 1.99, 'N/A'),
 ('TSLA_MGT', 'Scheduled (Planned)', 2016, 23, 1.97, 'N/A'),
 ('PMC', 'Scheduled (Planned)', 2016, 27, 1.9, 'N/A'),
 ('AURICON', 'Scheduled (Planned)', 2016, 46, 1.89, 'N/A'),
 ('MUND', 'Scheduled (Planned)', 2017, 7, 1.7, 'N/A'),
 ('PMC', 'Scheduled (Planned)', 2017, 12, 1.7, 'N/A'),
 ('PUG', 'Scheduled (Planned)', 2016, 16, 1.47, 'N/A')]

<h3 style="color:#D4AF37"> ‚ö° Part II. Energy Losses & Market Reliability ‚ö° </h3>

When an energy provider provides energy to the market, they are making a commitment to the market and saying; ‚ÄúWe will supply X amount of energy to the market under a contractual obligation.‚Äù However, in a situation where the outages are Forced, the energy provider intended to provide energy but are unable to provide energy and are forced offline. <b style="color:Maroon">If many energy providers are forced offline at the same time it could cause an energy security risk that AEMR needs to mitigate. </b>

To ensure this doesn‚Äôt happen, the AEMR is interested in exploring the following questions:

<li> Of the outage types in 2016 and 2017, what percent were Forced Outage(s)?
<li> What was the average duration for a forced outage during both 2016 and 2017? Have we seen an increase in the average duration of forced outages?
<li> Which energy providers tended to have the largest number of forced outages?

<b>SQL Statement to calculate the proportion of Forced Outages that have occurred over the 2016 - 2017 Period.</b>

In [45]:
%%sql
SELECT
Year,
COUNT(*) AS Total_Number_Outages,
SUM(CASE WHEN Outage_Reason = 'Forced' THEN 1 ELSE 0 END) AS Total_Number_Forced_Outage_Events,
ROUND((SUM(CASE WHEN Outage_Reason = 'Forced' THEN 1 ELSE 0 END)*1.0 / COUNT(*)) *100, 2) AS Pct_Outage_Forced
FROM AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Year
ORDER BY Year

 * sqlite:///AEMR.db
Done.

[(2016, 1931, 1264, 65.46), (2017, 2171, 1622, 74.71)]

We find that Total outages are increasing, as are Forced outages. More importantly, the percentage of Forced outages is increasing. It's clear to see now that `Forced Outages` are problematic for us. Not only are they the only outage type that generates financial losses as the Outage is unplanned, it seems there is a number of Energy Participants who have been having a significantly high number of Outages.

Now what can we do about this? 

Let's break our analysis down into Macro and Micro Analysis.
The total gives us the Overall Duration a participant is offline / has lost energy, however, it doesn't tell us how *frequently* this occurs. In other words, if we have one or two very big outages, it might contribute to very large totals.

However, maybe an <b> average </b> can help us identify how big these Outages might really be, spread across the year.

<b>SQL Statement to calculate the `Total Number of Outages`, `Total Duration In Days`and `Total Energy Lost` of all valid `Outages` for each `participant code` and `facility_code`, sorted by `Total Energy Lost` in descending order and Ordered by the YEAR Category.</b>

In [51]:
%%sql
SELECT
COUNT(*) AS Total_Number_Outages,
ROUND(SUM(ABS(JULIANDAY(End_Time) - JULIANDAY(Start_Time))), 2) AS Total_Duration_In_Days,
ROUND(SUM(Energy_Lost_MW), 2) AS Total_Energy_Lost,
Outage_Reason,
Participant_Code,
Facility_Code,
Year
FROM AEMR_Outage_Table
WHERE Status = 'Approved'
GROUP BY Outage_Reason, Participant_Code, Facility_Code, Year
ORDER BY Total_Energy_Lost DESC, Year DESC
LIMIT 10

 * sqlite:///AEMR.db
Done.

[(490, 33.65, 21639.55, 'Forced', 'AURICON', 'AURICON_PNJ_U1', 2017),
 (227, 240.69, 19326.56, 'Forced', 'GW', 'BW1_GREENWATERS_G2', 2017),
 (317, 120.6, 15751.38, 'Forced', 'GW', 'BW1_GREENWATERS_G2', 2016),
 (157, 129.6, 13771.07, 'Forced', 'MELK', 'MELK_G7', 2016),
 (208, 15.06, 10696.28, 'Forced', 'AURICON', 'AURICON_PNJ_U1', 2016),
 (177, 404.15, 10285.4, 'Forced', 'MELK', 'MELK_G7', 2017),
 (85, 392.25, 9668.79, 'Scheduled (Planned)', 'MELK', 'MELK_G7', 2016),
 (69, 34.06, 9093.08, 'Forced', 'PMC', 'PMC_AG', 2016),
 (70, 482.58, 7499.28, 'Scheduled (Planned)', 'MELK', 'MELK_G7', 2017),
 (46, 87.02, 6964.8, 'Scheduled (Planned)', 'AURICON', 'AURICON_PNJ_U1', 2016)]

It looks like AURICON, GW, and MELK are the three providers who have the highest amount of energy lost over the year from Forced Outages.

<b>SQL Statement to calculate the `Average Duration In Days`and `Average Energy Lost` of all valid `FORCED OUTAGES` for each `participant code` and `facility_code` sorted by `Average Energy Lost` in descending order and Ordered by the YEAR Category.

In [56]:
%%sql
SELECT
ROUND(AVG((ABS(JULIANDAY(End_Time) - JULIANDAY(Start_Time)))), 2) AS Avg_Duration_In_Days,
ROUND(AVG(Energy_Lost_MW), 2) AS AVG_Energy_Lost,
Outage_Reason,
Participant_Code,
Facility_Code,
Year
FROM AEMR_Outage_Table
WHERE Status = 'Approved' AND Outage_Reason = 'Forced'
GROUP BY Outage_Reason, Participant_Code, Facility_Code, Year
ORDER BY AVG_Energy_Lost DESC, Year DESC
LIMIT 10

 * sqlite:///AEMR.db
Done.

[(1.11, 149.0, 'Forced', 'COLLGAR', 'COLLGAR_WF1', 2016),
 (0.04, 141.21, 'Forced', 'PMC', 'PMC_AG', 2017),
 (0.49, 131.78, 'Forced', 'PMC', 'PMC_AG', 2016),
 (0.83, 87.71, 'Forced', 'MELK', 'MELK_G7', 2016),
 (1.06, 85.14, 'Forced', 'GW', 'BW1_GREENWATERS_G2', 2017),
 (0.25, 80.0, 'Forced', 'TSLA_MGT', 'TESLA_PICTON_G1', 2016),
 (0.38, 76.23, 'Forced', 'KORL', 'KORL_GT3', 2016),
 (1.22, 72.61, 'Forced', 'PJRH', 'PJRH_GT11', 2016),
 (0.84, 67.21, 'Forced', 'PJRH', 'PJRH_GT11', 2017),
 (1.38, 61.93, 'Forced', 'COLLGAR', 'COLLGAR_WF1', 2017)]

The highest average amount of energy lost from Forced Outages seems to come from COLLGAR, PMC, and MELK/GW.

<b>SQL Statement to calculate the `Average Energy Lost` and `Total Energy Lost` for each `Facility Code` and `Participant Code` across both the 2016 and 2017 periods when the `Outage_Reason` is set to Forced, then calculate the <u> percentage </u> of energy lost due to forced outages for each `Facility_Code` Ordered by `Total Energy Lost` from 2016 to 2017.

In [61]:
%%sql
SELECT
ROUND(AVG(Energy_Lost_MW), 2) AS AVG_Energy_Lost,
ROUND(SUM(Energy_Lost_MW), 2) AS Total_Energy_Lost,
ROUND(SUM(Energy_Lost_MW) / (SELECT SUM(Energy_Lost_MW) FROM AEMR_Outage_Table WHERE Status = 'Approved' AND Outage_Reason = 'Forced') * 100, 2) AS Pct_Energy_Loss,
Outage_Reason,
Participant_Code,
Facility_Code,
Year
FROM AEMR_Outage_Table
WHERE Status = 'Approved' AND Outage_Reason = 'Forced'
GROUP BY Outage_Reason, Participant_Code, Facility_Code, Year
ORDER BY Total_Energy_Lost DESC
LIMIT 10

 * sqlite:///AEMR.db
Done.

[(44.16, 21639.55, 14.21, 'Forced', 'AURICON', 'AURICON_PNJ_U1', 2017),
 (85.14, 19326.56, 12.69, 'Forced', 'GW', 'BW1_GREENWATERS_G2', 2017),
 (49.69, 15751.38, 10.34, 'Forced', 'GW', 'BW1_GREENWATERS_G2', 2016),
 (87.71, 13771.07, 9.04, 'Forced', 'MELK', 'MELK_G7', 2016),
 (51.42, 10696.28, 7.02, 'Forced', 'AURICON', 'AURICON_PNJ_U1', 2016),
 (58.11, 10285.4, 6.75, 'Forced', 'MELK', 'MELK_G7', 2017),
 (131.78, 9093.08, 5.97, 'Forced', 'PMC', 'PMC_AG', 2016),
 (72.61, 5881.52, 3.86, 'Forced', 'PJRH', 'PJRH_GT11', 2016),
 (141.21, 5648.44, 3.71, 'Forced', 'PMC', 'PMC_AG', 2017),
 (29.17, 5016.67, 3.29, 'Forced', 'TRMOS', 'TIWEST_COG1', 2017)]

After sorting by Total Engery Lost and Percent Energy Lost; AURICON, GW, and MELK are the most significant contributors to Forced outage losses.

<b>SQL Statement calculating the `Total_Energy_Lost` each of these three `Participant_Codes` and the `Facility_Code`, identify the `Description_Of_Outage` associated with the highest `Total_Energy_Lost` for each of the `Participant_Codes` and `Facility_Code` for each of the three participants, calculate the percentage of Energy Loss, attributed to these reasons</u> </b>

In [66]:
%%sql
SELECT
*
FROM (
SELECT
Participant_Code,
Facility_Code,
Description_Of_Outage,
ROUND(SUM(Energy_Lost_MW), 2) AS Total_Energy_Lost,
ROUND(SUM(Energy_Lost_MW) / (SELECT SUM(Energy_Lost_MW) FROM AEMR_Outage_Table WHERE Status = 'Approved' AND Outage_Reason = 'Forced') * 100, 2) AS Pct_Energy_Loss,
RANK() OVER (PARTITION BY Participant_Code, Facility_code ORDER BY SUM(Energy_Lost_MW) DESC) AS rank
FROM AEMR_Outage_Table
WHERE Participant_Code IN ('GW', 'MELK', 'AURICON') AND Status = 'Approved' AND Outage_Reason = 'Forced'
GROUP BY Participant_Code, Facility_Code, Description_Of_Outage
ORDER BY Participant_Code, Total_Energy_Lost DESC)
WHERE rank = 1

 * sqlite:///AEMR.db
Done.

[('AURICON', 'AURICON_PNJ_U1', 'Full unit trip', 6033.87, 3.96, 1),
 ('GW', 'BW1_GREENWATERS_G2', 'Operational Issues caused real time forced outage.', 28687.54, 18.84, 1),
 ('MELK', 'MELK_G7', 'Safety Issues', 1100.0, 0.72, 1)]

Here we find the descriptions of the highest ranked Forced outages at each of the providers known for the highest Forced outage losses.